{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/home.css">

    <title>ihDores - Home</title>
{% endblock %}

{% block content %}
<div class="apresentation">
    <div class="initial-text">
        <h1>As melhores receitas da família</h1>
        <p>Aprenda a construir os melhores pratos com receitas criadas por toda a família</p>
    </div>
    <img src="/images/chef.png" alt="Imagem de um Chefe de cozinha">
</div>
{% endblock %}