{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/about.css">

    <title>ihDores - Sobre</title>
{% endblock %}

{% block content %}
<h2>Sobre ihDores</h2>

<p>Este site aborda as maravilhosas reitas de Maria das Dores Machado Moura, ou  
    apenas tia Dores (tia Dô para os mais íntimos), e de sua família. Mas quem
    seria a tia Dores? Irmã do meio de uma grande família no interior da Bahia, 
    tia Dores veio ainda criança para São Paulo junto com seus irmãos e sua mãe 
    para ganhar a vida. A cidade da gároa, como era chamada na época, não era tão 
    fácil de se lidar, e ela teve que aprender desde pequena a conciliar seu tempo 
    trabalhando, estudando e coidando se sua mãe, a vovó Zizinha, hoje falecida, 
    entretanto, mesmo com todas as dificuldades, nunca deixou de lado sua paixão 
    por fazer deliciosos pratos, hoje apreciados por seus queridos sobrinhos.<p>

<p>Hoje, tia Dores vive uma vida mais sossegada, ao lado do seu querido sobrinho, 
    seus dois irmãos e uma sobrinha qualquer. Amada por em todos os lugares que já 
    passou, Maria traz consigo toda a experiência e sabedoria para dar vida a 
    este site.</p>

<h2>Como tudo começou…</h2>

<p>A ideia do site começou com um desafio proposto pela <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a>
    para fazer um site abordando o tema de culiária, e dessa forma foi levado 
    em discussão um site para ser uma enciclopédia das receitas da família, 
    tendo, é claro, uma grande inspiração nos pratos da tia Dores, nascendo assim: 
    ihDores.</p>

<h2>Nossas receitas</h2>

<p>Aqui temos a missão de trazer uma grande variedade de escolas da culiária, 
    ao passar por diversos pratos de diferentes sabores, cheiros e culturas, 
    e também estamos abertos a conhecer novos pratos que qualquer outro membro 
    da família queira apresentar.<p>
{% endblock %}